body,
html {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
}

ol {
  list-style: none;
  padding: inherit;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
small,
button {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

.container {
  width: 1920px;
  margin: 0 auto;
  position: relative;
}
.container > header {
  width: 100%;
  padding: 35px 360px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  flex-wrap: wrap;
}
.container > header > .logo {
  background: url(../images/logos.png) scroll no-repeat 0 25%;
  color: white;
  padding: 20px 60px;
  font-family: "Raleway", sans-serif, roboto, arial;
  font-size: 34px;
  letter-spacing: -1px;
  display: inline-block;
}
.container > header > nav {
  text-transform: capitalize;
  color: white;
  text-align: right;
  font-family: "Montserrat", sans-serif, roboto, arial;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
}
.container > header > nav > ol > li {
  display: inline-block;
  margin: 15px;
}
.container > header > nav > ol > li .icon-cart {
  background: url(../images/cart.svg) no-repeat scroll;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: -0.5em;
}
.container > header > nav > ol > li .icon-search {
  background: url(../images/search.svg) no-repeat scroll;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: -0.5em;
}
.container > header > nav > ol > li:nth-last-child(2) {
  margin-left: 48px;
}
.container > header > nav a:hover {
  color: #c7b299;
}

.slide {
  background: url(../images/photo.png) scroll no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  height: 1000px;
}
.slide > .wrapper {
  width: 600px;
}
.slide > .wrapper > small {
  font-size: 36px;
}
.slide > .wrapper > h1 {
  font-size: 52px;
  font-weight: bolder;
}
.slide > .wrapper > p {
  font-size: 16px;
  font-weight: 400;
}
.slide .slide-arrow {
  background: url(../images/left.svg) no-repeat scroll;
  width: 40px;
  height: 73px;
  opacity: 0.502;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.slide .slide-arrow:hover {
  opacity: 1;
}
.slide .nav-slide-arrows .left {
  left: 150px;
}
.slide .nav-slide-arrows .right {
  transform: rotate(180deg);
  right: 150px;
}
.slide .nav-slide-dots {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}
.slide .nav-slide-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slide .nav-slide-dots .slide-dot {
  border-radius: 50px;
  opacity: 0.502;
  width: 11px;
  height: 11px;
  background: white;
}
.slide .nav-slide-dots .slide-dot-active {
  border-style: solid;
  border-width: 2px;
  border-color: #c7b299;
  border-radius: 50px;
  width: 19px;
  height: 19px;
}

.btn-get-started,
.btn-purchase-now {
  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  width: 170px;
  height: 53px;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
}
.btn-get-started:hover,
.btn-purchase-now:hover {
  background-color: #c7b299;
}

section.partners {
  display: flex;
  justify-content: center;
  position: relative;
}
section.partners > .block {
  width: 300px;
  text-align: center;
  margin: 70px 15px;
}
section.partners > .block:hover {
  color: #c7b299;
}
section.partners > .block > h3 {
  font-size: 22px;
  font-weight: 500;
}
section.partners > .block > p {
  font-size: 14px;
  font-weight: 300;
}
section.partners > .block > ico {
  width: 50px;
  height: 50px;
  display: inline-block;
}
section.partners > .block > ico:hover {
  color: #c7b299;
}
section.partners > .block > ico.icon-design {
  background: url(../images/partners/design.png) no-repeat scroll;
}
section.partners > .block > ico.icon-development {
  background: url(../images/partners/development.png) no-repeat scroll;
}
section.partners > .block > ico.icon-customization {
  background: url(../images/partners/customization.png) no-repeat scroll;
}
section.partners > .block > ico.icon-marketing {
  background: url(../images/partners/marketing.png) no-repeat scroll;
}

section.realization-of-ideas {
  position: relative;
  z-index: -2;
  background: #fbfaf8;
}
section.realization-of-ideas > .wrapper {
  width: 770px;
  padding: 100px 0 0;
  margin: 0 auto;
  text-align: center;
}
section.realization-of-ideas > .wrapper > h2 {
  font-size: 30px;
  font-weight: bold;
}
section.realization-of-ideas > .wrapper > p {
  font-size: 16px;
  margin-bottom: 40px;
}
section.realization-of-ideas > .wrapper > img {
  margin: -4px 0;
}
section.realization-of-ideas > .background img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
section.realization-of-ideas > .background .left {
  left: 18%;
}
section.realization-of-ideas > .background .right {
  right: 18%;
}

.text-boxes {
  background: linear-gradient(to right, #211b19, #4e3427);
  color: #615855;
  width: 100%;
  padding: 35px 360px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.text-boxes h2 {
  background: linear-gradient(to right, #615855, white);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

footer > .wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  background: #191919;
  color: #555555;
  padding: 95px 360px 75px;
}
footer > .wrapper > div {
  width: 25%;
}
footer > .copyright {
  padding: 46px 360px;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=stylesheet.css.map */
