$font-basic: 'Roboto',
sans-serif;
$font-body: 'Montserrat',
sans-serif;
$font-header: 'Raleway',
sans-serif;

$color-primary: #c7b299;
$color-btn: #998675;
$color-text: #615855;

body,
html {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: inherit;
    color: inherit;
    font-weight: inherit
}

ol {
    list-style: none;
    padding: inherit;
}

button:focus {
    outline: none;
}

h1,
h2,
h3,
small,
button {
    font-family: $font-header;
}

p {
    font-family: $font-body;
}

.capitalize {
    text-transform: capitalize;
}

.container {
    width: 1920px;
    margin: 0 auto;
    position: relative;

    > header {
        width: 100%;
        padding: 35px 360px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        flex-wrap: wrap;

        > .logo {
            background: url(../images/logos.png) scroll no-repeat 0 25%;
            color: white;
            padding: 20px 60px;
            font-family: $font-header, roboto, arial;
            ;
            font-size: 34px;
            letter-spacing: -1px;
            display: inline-block;
        }

        > nav {
            text-transform: capitalize;
            color: white;
            text-align: right;
            font-family: $font-body, roboto, arial;
            font-weight: 400;
            font-size: 14px;
            display: inline-block;

            > ol {
                > li {
                    display: inline-block;
                    margin: 15px;

                    .icon-cart {
                        background: url(../images/cart.svg) no-repeat scroll;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        vertical-align: -0.5em;
                    }

                    .icon-search {
                        background: url(../images/search.svg) no-repeat scroll;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        vertical-align: -0.5em;
                    }

                    &:nth-last-child(2) {
                        margin-left: 48px;
                    }
                }
            }

            a:hover {
                color: $color-primary;
            }
        }
    }
}

.slide {
    background: url(../images/photo.png) scroll no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
    height: 1000px;

    > .wrapper {
        width: 600px;

        > small {
            font-size: 36px;
        }

        > h1 {
            font-size: 52px;
            font-weight: bolder;
        }

        > p {
            font-size: 16px;
            font-weight: 400;
        }
    }

    .slide-arrow {
        background: url(../images/left.svg) no-repeat scroll;
        width: 40px;
        height: 73px;
        opacity: 0.502;
        position: absolute;
        top: 50%;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .nav-slide-arrows {
        .left {
            left: 150px;
        }

        .right {
            transform: rotate(180deg);
            right: 150px;
        }

    }

    .nav-slide-dots {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;

        li {
            display: inline-block;
            margin: 0 5px;
        }

        .slide-dot {
            border-radius: 50px;
            opacity: 0.502;
            width: 11px;
            height: 11px;
            background: white;
        }

        .slide-dot-active {
            border-style: solid;
            border-width: 2px;
            border-color: $color-primary;
            border-radius: 50px;
            width: 19px;
            height: 19px;
        }
    }
}

.btn-get-started,
.btn-purchase-now {
    border-radius: 3px;
    background-color: $color-btn;
    box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
    width: 170px;
    height: 53px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;

    &:hover {
        background-color: $color-primary;
    }
}

section.partners {
    display: flex;
    justify-content: center;
    position: relative;

    > .block {
        width: 300px;
        text-align: center;
        margin: 70px 15px;

        &:hover {
            color: $color-primary;
        }

        > h3 {
            font-size: 22px;
            font-weight: 500;
        }

        > p {
            font-size: 14px;
            font-weight: 300;
        }

        > ico {
            width: 50px;
            height: 50px;
            display: inline-block;
            
            &:hover {
                color: $color-primary;
            }
        }

        > ico.icon-design {
            background: url(../images/partners/design.png) no-repeat scroll;
        }

        > ico.icon-development {
            background: url(../images/partners/development.png) no-repeat scroll;
        }

        > ico.icon-customization {
            background: url(../images/partners/customization.png) no-repeat scroll;
        }

        > ico.icon-marketing {
            background: url(../images/partners/marketing.png) no-repeat scroll;
        }
    }
}

section.realization-of-ideas {
    position: relative;
    z-index: -2;
    background: #fbfaf8;

    > .wrapper {
        width: 770px;
        padding: 100px 0 0;
        margin: 0 auto;
        text-align: center;

        > h2 {
            font-size: 30px;
            font-weight: bold;
        }

        > p {
            font-size: 16px;
            margin-bottom: 40px;
        }

        > img {
            margin: -4px 0;
        }
    }

    > .background {
        img {
            position: absolute;
            bottom: 0;
            z-index: -1;
        }

        .left {
            left: 18%;
        }

        .right {
            right: 18%;
        }
    }
}

.text-boxes {
    background: linear-gradient(to right, #211b19, #4e3427);
    color: $color-text;
    width: 100%;
    padding: 35px 360px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    h2 {
        background: linear-gradient(to right, $color-text, white);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

footer {
    > .wrapper {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        background: #191919;
        color: #555555;
        padding: 95px 360px 75px;

        > div {
            width: 25%;
        }
    }

    > .copyright {
        padding: 46px 360px;
        display: flex;
        justify-content: space-between;
    }
}
